<div
  [style.display]="'flex'"
  [recommendationLabel]="'Ion'"
  appSetLabel
  [excessCashLabel]="'ivan'"

>
  <ng-container
    *ngFor="
            let number of Array(months.months);
            let index = index;
            let lastIndex = last;
            let firstIndex = first
        "

  >
    <div
      [style.width.rem]="!lastIndex ? standardWidth : lastIndexWidth"
      [attr.recomendation]="
                index >= months.axis.recommendationReserve.start &&
                index <= months.axis.recommendationReserve.end
            "
      [attr.excessCash]="
                index >= months.axis.excessCashReserve.start &&
                index <= months.axis.excessCashReserve.end
            "
      [style.gap.rem]="1 / 2"
      [style.display]="'flex'"
      [style.flex-direction]="'column'"
    >
      <div [style.display]="'flex'">
        <div
          [style.width.rem]="
                        months.reserve >= index && months.reserve < index + 1
                            ? ((+(months.reserve - Math.trunc(months.reserve))
                                  .toFixed(3)
                                  .split('.')[1]
                                  .split('')[0] *
                                  10) /
                                  100) *
                              standardWidth
                            : !lastIndex
                            ? standardWidth
                            : lastIndexWidth
                    "
          [style.background-color]="
                        index > Math.floor(months.reserve)
                            ? '#ECF4FC'
                            : '#0075FF'
                    "
          [style.height.rem]="1"
          [style.border-top-right-radius.px]="lastIndex ? 5 : 0"
          [style.border-bottom-right-radius.px]="lastIndex ? 5 : 0"
          [style.border-bottom-left-radius.px]="firstIndex ? 5 : 0"
          [style.border-top-left-radius.px]="firstIndex ? 5 : 0"
        ></div>
        <div
          *ngIf="
                        months.reserve >= index && months.reserve < index + 1
                    "
          [style.width.rem]="
                        standardWidth -
                        (((months.reserve - Math.trunc(months.reserve)) * 100) /
                            100) *
                            standardWidth +
                        errorOfKnife
                    "
          [style.background-color]="
                        months.reserve >= index && months.reserve < index + 1
                            ? '#ECF4FC'
                            : ''
                    "
        >
          <app-actual-state-label [label]="months.labelHowMuchYouCanSurvive"></app-actual-state-label>

        </div>
      </div>
      <span
        [style.color]="'#7F7F7F'"
        [style.display]="lastIndex ? 'flex' : 'block'"
        [style.justify-content]="lastIndex ? 'space-between' : ''"
      >
                {{ index }}

        <span
          *ngIf="lastIndex"
          [style.color]="'#7F7F7F'"
        >{{ 'text' }}
                </span>
            </span>
    </div>
  </ng-container>
</div>
