$background: #292A2B;
.container-actual-state {
  position: absolute;
  z-index: 20;

  &__line {
    position: relative;
    width: 1px;
    top: -8px;
    height: 120px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-left: 4px solid $background;
    z-index: 20;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;

    &__arrow {
      width: 14px;
      height: 14px;
      background: $background;
      transform: rotate(45deg);
      left: -9px;
      position: absolute;
      bottom: -9px;
    }
  }

  &__information {
    color: white;
    background: $background;
    z-index: 30;
    position: relative;
    padding: .3rem;
    border-radius: 4px;
  }


}
