
.label-container {


  &__line {
    position: absolute;
    width: 1px;
    height: 60px;
    border-left: 2px dashed #A3B5C9;
    z-index: 20;
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    z-index: 20;
    color: #5C7999;
    background-color: #F4F6FA;
    padding: 11px 26px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
