<div class="ivna">
  <div>
    <button
      appGetMiddleEntity
      mat-raised-button
      [element]="diffusion1"
    >
      teasdasd
    </button>

    <p   appGetMiddleEntity
         [element]="diffusion2">
      Ivan
    </p>
  </div>

  <ng-template #diffusion1>
    <div>
      <button
        appGetMiddleEntity
        mat-raised-button
        [element]="diffusion1"
      >

        teasdasd
      </button>
      <div>
        <button
          appGetMiddleEntity
          mat-raised-button
          [element]="diffusion1"
        >

          teasdasd
        </button>

        <p   appGetMiddleEntity
             [element]="diffusion2">
          Ivan
        </p>

        <div>
          <div>
            <button
              appGetMiddleEntity
              mat-raised-button
              [element]="diffusion1"
            >

              teasdasd
            </button>

            <p   appGetMiddleEntity
                 [element]="diffusion2">
              Ivan
            </p>

            <div>

              <div>
                dasdasdasdas
              </div>
              dasdasdasdas
            </div>
          </div>
          <div>
            dasdasdasdas
          </div>

          <div>
            dasdasdasdas
          </div>
          dasdasdasdas
        </div>
      </div>
      <div>
        dasdasdasdas
      </div>

      <p   appGetMiddleEntity
           [element]="diffusion2">
        Ivan
      </p>

      <div>

        <div>
          dasdasdasdas
        </div>
        dasdasdasdas
      </div>
    </div>
    <div>
      dasdasdasdas
    </div>
  </ng-template>

  <ng-template #diffusion2>
    second Ion
  </ng-template>
</div>
