<button mat-button (click)="toggleB()">
  toggle button
</button>
<button mat-raised-button appGetMiddleEntity [element]="formState" [triggered]="triggered"> Toogle Form  </button>
<ng-container *ngIf="toggleBar">
  <app-bar></app-bar>
</ng-container>

<ng-template #formState>
  <app-users-t [form]="form"></app-users-t>
</ng-template>

<pre [style.margin-top.rem]="20">
  untouched {{form.untouched}}
  dirty {{form.dirty}}
  touched {{form.touched}}
  invalid {{form.invalid}}
  valid {{form.valid}}
  panding {{form.panding}}
  pristine {{form.pristine}}
</pre>
